################################################################################
# NST MRTG Configuration - Relies on /scripts/update-statistics.sh
#
# Place this script in /etc/mrtg.cfg, make sure it's only readable by root. Run
# /scripts/update-statistics.sh as netdb from /etc/crontab, install mrtg set it
# to use this as it's config file.  See sample crontab in extra/
#
# Create an index.html for /var/www/mrtg or wherever it's installed on your
# system:
# 
# indexmaker --title="NetDB Graphs" --show=week /opt/netdb/extra/mrtg.cfg > /var/www/mrtg/index.html
###############################################################################
# This file is for use with mrtg-2.5.4c

# Global configuration
WorkDir: /var/www/mrtg
WriteExpires: Yes

Title[^]: MRTG NST - 

# Most of these now rely on update-statistics.sh to be run 1 minute BEFORE MRTG (every 5min)

# Relies on updatestatics to be run in cron every hour
Target[devices]: `/usr/bin/tail -4 /opt/netdb/data/mrtgarpcount.txt`
Options[devices]: gauge,expscale,noinfo,nopercent, nobanner, growright, noi
Title[devices]: ARP Table Entries
PageTop[devices]: <H1>ARP Table Entries</H1>
MaxBytes[devices]: 128000
#Unscaled[devices]: ymwd
YLegend[devices]:  net devices
ShortLegend[devices]:  devices
LegendO[devices]: Active Network Devices:
Legend2[devices]: devices

# Relies on updatearp to be run in cron every hour
Target[devicesm]: `/bin/cat /opt/netdb/data/mrtgdevcount.txt`
Options[devicesm]: gauge,expscale,noinfo,nopercent, nobanner, growright, noi
Title[devicesm]: MACs on Switchports
PageTop[devicesm]: <H1>MACs on Switch Ports</H1>
MaxBytes[devicesm]: 128000
#Unscaled[devicesm]: ymwd
YLegend[devicesm]:  mac entries
ShortLegend[devicesm]:  macs
LegendO[devicesm]: Active Mac Addresses:
Legend2[devicesm]: macs

# Connected Switchports
Target[connectedports]: `/bin/cat /opt/netdb/data/mrtgconnected.txt`
Options[connectedports]: gauge,expscale,noinfo,nopercent, nobanner, growright, noi
Title[connectedports]: Connected Switch Ports
PageTop[connectedports]: <H1>Connected Switch Ports</H1>
MaxBytes[connectedports]: 128000
#Unscaled[connectedports]: ymwd
YLegend[connectedports]:  connected ports
ShortLegend[connectedports]:  ports
LegendO[connectedports]: Connected Switch Ports:
Legend2[connectedports]: ports

# Total Switchports
Target[totalports]: `/bin/cat /opt/netdb/data/mrtgtotalports.txt`
Options[totalports]: gauge,expscale,noinfo,nopercent, nobanner, growright, noi
Title[totalports]: Total Switch Ports
PageTop[totalports]: <H1>Total Switch Ports</H1>
MaxBytes[totalports]: 128000
#Unscaled[totalports]: ymwd
YLegend[totalports]:  total ports
ShortLegend[totalports]:  ports
LegendO[totalports]: Total Switch Ports:
Legend2[totalports]: ports


# Relies on updatemacs to be run in cron every hour
Target[devicesnew]: `/bin/cat /opt/netdb/data/newmacslasthour.txt`
Options[devicesnew]: gauge,noinfo,nopercent, nobanner, growright, noi
Title[devicesnew]: New MAC addresses per hour
PageTop[devicesnew]: <H1>New MAC addresses per hour</H1>
MaxBytes[devicesnew]: 1000
#Unscaled[devicesnew]: ymwd
YLegend[devicesnew]:  new macs
ShortLegend[devicesnew]:  macs
LegendO[devicesnew]: New MAC addresses:
Legend2[devicesnew]: macs

# Relies on updatemacs to be run in cron every hour
Target[newnonguests]: `/bin/cat /opt/netdb/data/newnonguest.txt`
Options[newnonguests]: gauge,noinfo,nopercent, nobanner, growright, noi
Title[newnonguests]: New non-guest MAC addresses per hour
PageTop[newnonguests]: <H1>New non-guest MAC addresses per hour</H1>
MaxBytes[newnonguests]: 1000
#Unscaled[newnonguests]: ymwd
YLegend[newnonguests]:  new macs
ShortLegend[newnonguests]:  macs
LegendO[newnonguests]: New MAC addresses:
Legend2[newnonguests]: macs

# Relies on updatemacs to be run in cron every hour
Target[newperday]: `/bin/cat /opt/netdb/data/newperday.txt`
Options[newperday]: gauge,noinfo,nopercent, nobanner, growright, noi
Title[newperday]: New non-guest MAC addresses per day
PageTop[newperday]: <H1>New non-guest MAC addresses per day</H1>
MaxBytes[newperday]: 2000
#Unscaled[newperday]: ymwd
YLegend[newperday]:  new macs
ShortLegend[newperday]:  macs
LegendO[newperday]: New MAC addresses:
Legend2[newperday]: macs


# Total Rows in NetDB Database
Target[netdbrows]: `/bin/cat /opt/netdb/data/mrtgdbrows.txt`
Options[netdbrows]: gauge,expscale,noinfo,nopercent, nobanner, growright, noi
Title[netdbrows]: NetDB Database Size
PageTop[netdbrows]: <H1>NetDB Database Rows</H1>
MaxBytes[netdbrows]: 2560000
#Unscaled[netdbrows]: ymwd
YLegend[netdbrows]:  Database Rows
ShortLegend[netdbrows]:  rows
LegendO[netdbrows]: Database Rows:
Legend2[netdbrows]: rows

